/*====== CSS RESET =====*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/*===== header ======*/
header {
    margin: 5px;
    padding: 5px;
}

/*===== h2 ======*/
h2 {
    padding: 1px;
}

/*===== body ======*/
body {
    width: 512px;
}

/*===== footer ======*/
footer {
    margin: 10px;
}

/*===== CLASSES =====*/
.class1 {
    border: 2px solid black;
}
.class2 {
    border: 2px solid black;
}
.class3 {
    border: 2px solid black;
}
.class4 {
    border: 2px solid black;
}

.class1, .class2, .class3, .class4 {
    margin-left: 36px;
    margin-bottom: 10px;
    padding: 10px;
    width: 430px;
    height: 150px;
    box-sizing: content-box;
}